/*!
Theme Name: Bootstrap to Wordpress
Theme URI: http://underscores.me/
Author: Benjamin Leguizamon
Author URI: http://benjaleguizamon.ca
Description: A custom Wordpress theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: bootstrap2wordpress
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Bootstrap to Wordpress is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
## Custon css
--------------------------------------------------------------*/

/* COLOUR REFERENCES

Green:		#79b044
Salmon:		#dd5638
Blue Gray:  #3e4249

*/

/* ==== GENERAL ==== */

body {
  margin-top: 50px;
  font-family: "proxima-nova", "Raleway", Helvetica, sans-serif;
  font-size: 16px;
  background: url("assets/img/tile.jpg") top left repeat;
}

.logged-in .navbar-fixed-top {
  top: 32px;
}

/* ==== GLOBAL ==== */

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h1,
h2 {
  margin: 0 0 40px;
}

h3 {
  margin: 20px 0;
}

h4 {
  font-size: 18px;
}

p.lead {
  font-weight: normal;
}

p {
  margin: 0 0 15px;
}

a:link,
a:visited {
  color: #dd5638;
}

a:hover {
  text-decoration: none;
  color: #c9302c;
}

blockquote {
  padding: 0;
  border: none;
  font-style: italic;
  text-align: left;
}

blockquote cite {
  display: block;
  color: #777;
  margin: 15px 0 0 0;
}

blockquote:before {
  display: none;
}

img {
  max-width: 100%;
}

button,
input,
.btn,
a.btn {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: white;
}

.btn {
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.btn-success {
  background: #79b044;
  border: none;
}

.btn-success:hover {
  background: #6a9b3d;
  border-color: #6a9b3d;
}

.btn-danger {
  background-color: #dd5638;
  border-color: #d95131;
}

.text-danger,
li.text-danger a {
  color: #dd5638;
}

a.text-danger:hover {
  color: #e55939;
}

.modal-content {
  background: url("assets/img/tile.jpg") top left repeat;
}

.badge.social {
  background: #ccc;
  font-size: 24px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 42px;
  margin: 0 5px 20px 0;
  padding: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: white;
}

.badge.social.twitter:hover {
  background: #55acee;
}

.badge.social.facebook:hover {
  background: #3b5998;
}

.badge.social.gplus:hover {
  background: #db4b39;
}

/* === CUSTOM ICON SPRITES === */

i.ci {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url("assets/img/icon-sprite.png") no-repeat;
}

.ci.ci-computer {
  background-position: 0 0;
}
.ci.ci-watch {
  background-position: -40px 0;
}
.ci.ci-calendar {
  background-position: -80px 0;
}
.ci.ci-community {
  background-position: -120px 0;
}
.ci.ci-instructor {
  background-position: -160px 0;
}
.ci.ci-device {
  background-position: -200px 0;
}

/* ==== FORMS ==== */

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 12px;
}

input[type="submit"],
button[type="submit"] {
  display: inline-block;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-radius: 6px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  outline: none;
  border: none;
  background: #aaa;
}

form.search-form .form-group {
  margin: 0;
}

form.search-form .input-group {
  width: 100%;
}

form.search-form .input-group input[type="search"],
form.search-form .input-group input[type="text"] {
  width: 70%;
}

form.search-form .input-group input[type="submit"] {
  width: 30%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right;
}

form textarea {
  width: 100%;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* ==== HERO ==== */

#hero {
  background: url("assets/img/hero-bg.jpg") 50% 0 repeat fixed;
  min-height: 500px;
  position: relative;
  display: table;
  width: 100%;
  padding: 40px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

#hero article {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#hero .hero-text {
  margin-top: 30px;
}

#price-timeline {
  margin: 30px 0 60px;
  text-align: center;
}

#price-timeline .price {
  display: inline-block;
  width: 30%;
  margin: 0 2% 0 0;
  background: #3e4249;
  padding: 10px 20px 30px;
  position: relative;
  vertical-align: top;
}

#price-timeline .price.active {
  background: #dd5638;
}

#price-timeline .price span {
  background: #101010;
  display: block;
  height: 70px;
  width: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -35px;
}

#price-timeline h4 {
  margin: 0 0 10px;
}

#price-timeline h4 small {
  color: white;
  font-weight: bold;
  display: block;
}

/* ==== LAYOUT ==== */

.row + .row {
  margin-top: 20px;
}

section {
  padding: 80px 0;
}

.section-header {
  text-align: center;
}

section h2 {
  margin: 20px 0 40px;
}

section h3 {
  margin: 30px 0 10px;
}

section.main-content {
  padding: 40px 0;
}

#primary {
  padding-top: 40px;
  padding-bottom: 40px;
}

.feature-image {
  display: table;
  width: 100%;
}

.feature-image-default {
  background: url("assets/img/stuff-feature.jpg") no-repeat;
  background-size: cover;
}

.feature-image-default-alt {
  background: url("assets/img/hipster-stuff.jpg") no-repeat;
  background-size: cover;
}

.feature-image h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

#optin {
  background: #3e4249;
  padding: 20px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 1.2em;
}

#optin p {
  margin: 7px 0 0 0;
}

#course-features {
  background: #3e4249;
  color: white;
  text-align: center;
}

#who-benefits {
  background: white;
}

#project-features {
  text-align: center;
}

#featurette {
  background: url("assets/img/stuff-bg.jpg") 50% 100% repeat fixed;
  background-size: cover;
  text-align: center;
  color: white;
}

#instructor {
  background: white url("assets/img/brad-elvis.png") 90% -10px no-repeat;
}

#instructor h2 {
  margin: 0 0 20px;
}

#instructor .num {
  display: table;
  font-size: 30px;
  font-weight: bold;
  color: white;
  line-height: 24px;
  height: 140px;
  width: 140px;
  text-align: center;
  background: #dd5638;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

#instructor .num .num-content {
  display: table-cell;
  vertical-align: middle;
}

#instructor .num span {
  display: block;
  font-size: 20px;
  font-weight: normal;
}

#kudos {
  text-align: center;
}

.testimonial {
  margin-bottom: 60px;
}

.testimonial img {
  border-radius: 50%;
}

#signup {
  text-align: center;
  background: url("assets/img/hipster-stuff.jpg") center center repeat fixed;
  background-size: cover;
  color: white;
  padding: 140px 0;
}

#signup h2 {
  font-weight: normal;
}

#signup h2 strong {
  border-bottom: solid 2px #dd5638;
}

#signup .btn {
  font-size: 24px;
}

footer {
  background: #3e4249;
  color: white;
  padding: 20px 0 10px;
  font-size: 12px;
}

footer p {
  margin: 0;
}

footer a:link,
footer a:visited {
  color: white;
}

footer a:hover {
  color: #dd5638;
}

footer li.signup-link a {
  color: #dd5638;
}

footer li.signup-link a:hover {
  font-weight: bold;
}

/* ==== BLOG ==== */

.post,
.widget,
#comments {
  position: relative;
  border: solid 1px #ddd;
  background: white;
  margin: 0 0 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.post header,
.post .post-excerpt,
.post .post-body,
#comments .comments-wrap {
  padding: 20px;
}

.post header h3 {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: solid 1px #ddd;
}

.post header h1 {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: solid 1px #ddd;
  font-size: 24px;
}

.post-image {
  height: auto;
}

.post-details {
  font-size: 12px;
  width: 90%;
}

.post-details i.fa {
  padding-left: 10px;
}

.post-details i.fa:first-child {
  padding: 0;
}

/* === COMMENTS === */

.post-comments-badge {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 25px;
  right: 20px;
  border: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #79b044;
  text-align: center;
  display: table;
}

.post-comments-badge a {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 20px;
  line-height: 20px;
}

.post-comments-badge i.fa {
  display: block;
  font-size: 15px;
  padding: 0;
  margin-bottom: 4px;
}

.post-comments-badge:hover {
  background-color: #8bc653;
}

#comments h3 {
  text-align: center;
}

#comments h4 {
  font-size: 1.3em;
}

#comments ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#comments ol li {
  background: rgba(0, 0, 0, 0.02);
  padding: 10px 20px;
  margin: 10px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.03);
}

#comments ol li ol.children {
  padding: 0;
  list-style: none;
  font-size: 0.96em;
}

#leave-comment {
  margin: 40px 0 0;
  padding: 20px 0 0;
  border-top: solid 1px #eee;
}

/* === RESOURCES === */

.resource {
  width: 31.33333333%;
  float: left;
  margin: 0 3% 40px 0;
}

.resource:nth-child(3n) {
  margin-right: 0;
}

/* === WIDGETS === */

.widget {
  padding: 20px;
}

.widget h4 {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: solid 1px #ddd;
}

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget ul li {
  margin: 0 0 5px;
}

.widget ul li:hover {
  position: relative;
  left: 1px;
}

/* ==== MEDIA QUERIES ==== */

@media screen and (max-width: 991px) {
  #instructor .container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
  }
}

@media screen and (max-width: 782px) {
  .logged-in .navbar-fixed-top {
    top: 45px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 50%;
  }

  #optin p {
    margin: 0 0 10px;
  }

  #featurette iframe {
    height: 240px;
  }

  .resource {
    width: 48%;
    margin-right: 2%;
  }
}

@media screen and (max-width: 568px) {
  #instructor .num {
    height: 100px;
    width: 100px;
    font-size: 22px;
  }

  #instructor .num span {
    font-size: 16px;
  }

  .resource {
    width: 100%;
    margin-right: 0;
  }
}
